<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-2 col-0"></div>
        <div class="col-md-4 col-sm-8 col-12">
            <mat-card>
                <mat-card-title>New User was registered successfully</mat-card-title>
                <mat-card-content>
                    <div class="justify-center">
                        <a routerLink="/signin">Go to login page</a>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4 col-sm-2 col-0"></div>
    </div>
</div>