<mat-toolbar color="primary">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    
    <span class="fill-remaining-space"></span>  
    
    <span class="fill-remaining-space">Pomodoro in Action</span>
    
    <span flex>
      <a routerLink="/signin">
        <button mat-button color="accent">Log In</button>
      </a>
    </span>
    
    <span flex>
      <a routerLink="/signup">
        <button mat-raised-button color="accent">Sign Up</button>
      </a>
    </span>
    
  </mat-toolbar>