<app-main-toolbar></app-main-toolbar>

<div class="scrollmenu">
    <div cdkDropList [cdkDropListData]=board.containers cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropContainer($event)" >

      <div cdkDropListGroup class="canban-container" *ngFor="let container of board.containers" cdkDrag [cdkDragData]="container">
        
        <h5 class="container-header">{{container.displayName}}</h5>
        
        <div cdkDropList class="tickets-list" id={{container.id}} [cdkDropListData]=container.tickets (cdkDropListDropped)="dropTicket($event)" [cdkDropListConnectedTo]="getConnectedList()">
          <div class="ticket-box" *ngFor="let ticket of container.tickets" cdkDrag [cdkDragData]="ticket">{{ticket.displayName}}</div>
        </div>
        
        <div class="new-ticket-box">
          + Add new ticket
        </div>
      </div>

      <div class="canban-container">
        <h4 class="container-header" (click)="openDialog()">+ Add new container</h4>
      </div>

    </div>
  </div>