
/* mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
} */

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-element {
    padding: 5px 0px 7px 2px;
    width: 100%;
}

.field-full-width {
    width: 100%;
}

.button {
    display: flex;
    justify-content: flex-end;
    padding: 1px 0px 18px 2px;
}


.justify-center{
    display: flex;
    justify-content: center;
}
